.character-card {
    background: #fff;
    border-radius: 2px;
    height: 200px;
    margin: 1rem;
    position: relative;
    width: 200px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }

.character-button {
  height: 100%;
  width: 100%;
  padding: 0px;
}

  .character-card:hover,
  .character-card:focus {
    box-shadow: 0 10px 20px #999, 0 10px 20px #999;
    transition: .3s;
    /* height: 220px;
    width: 220px; */
  }
  
  .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .img-container > img {
    width: 80%
  }
  
  @media screen and (max-width: 768px) {
    .character-card {
        height: 300px;
        width: 300px;
    }
  }

  @media screen and (max-width: 640px) {
    .character-card {
        height: 300px;
        width: 300px;
    }
  }