.character-card {
    background: #fff;
    border-radius: 2px;
    height: 140px;
    margin: 1rem;
    position: relative;
    width: 140px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }

.character-button {
  height: 100%;
  width: 100%;
  padding: 0px;
}

  .character-card:hover,
  .character-card:focus {
    box-shadow: 0 8px 15px rgb(226, 134, 14), 0 5px 10px rgb(235, 194, 15);
    transition: .3s;
  }
  
  .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: rgb(54, 12, 110);
  }

  .img-container > img {
    width: 100%
  }
  

  @media screen and (max-width: 1200px) {
    .character-card {
        height: 120px;
        width: 120px;
    }
  }

  @media screen and (max-width: 992px) {
    .character-card {
        height: 100px;
        width: 100px;
    }
  }

 @media screen and (max-width: 588px) {
    .character-card {
        height: 180px;
        width: 180px;
    }
  }

  @media screen and (max-width: 548px) {
    .character-card {
        height: 160px;
        width: 160px;
    }
  }

  @media screen and (max-width: 508px) {
    .character-card {
        height: 140px;
        width: 140px;
    }
  }

  @media screen and (max-width: 468px) {
    .character-card {
        height: 130px;
        width: 130px;
    }
  }

  @media screen and (max-width: 428px) {
    .character-card {
        height: 120px;
        width: 120px;
    }
  }

  @media screen and (max-width: 388px) {
    .character-card {
        height: 100px;
        width: 100px;
    }
  }