.App {
  text-align: center;
}

.container-fluid {
  background: rgba(28, 30, 34, 0.8) !important;
}

.character-row {
  max-width: 70%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main.container {
  display:flex;
}

main.container,
.row-center {
  justify-content: center;
  text-align: center;
}

.col-center {
  justify-content: center;
  text-align: center;
}


@media screen and (max-width: 992px) {
  .character-row {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  main.container {
    max-width: 720px !important;
  }
}

@media screen and (max-width: 646px) {
  .character-row {
    max-width: 100%;
  }
}